body {
    font-family: 'Roboto', sans-serif;
}

section {
    text-align: center;
    padding-bottom: 50px;
}

.transaction-btn {
    background: crimson;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: 1s all ease-in-out;
}

.transaction-btn:hover {
    background-color: red;
}

.live-btn {
    border: 1px solid red;
    color: red;
    background: transparent;
    padding: 10px 20px;
    font-size: 1.2em;
    font-weight: bold;
}

.dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    background-color: red;
    animation: dotanimation 1.5s ease-in-out 900;
    margin-left: 5px;
}

@keyframes dotanimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.overfollow-container {
    display: flex;
    justify-content: space-between;
}

.ov {
    border: 2px solid red;
    height: 155px;
    margin: 20px;
}

.scroll {
    overflow: scroll;
}

.auto {
    overflow: auto;
}

.hidden {
    overflow: hidden;
}

.media-query-container {
    display: flex;
    align-items: center;
    color: white;
}

.media-query-container div {
    width: 100%;
    background: rgb(64, 233, 115);
    margin: 20px;
}

.flex-conatiner {
    display: flex;
}

@media screen and (max-width:777px) {
    .media-query-container,
    .overfollow-container {
        flex-direction: column;
    }
    .media-query-container div {
        background-color: red;
    }
}